fastapi
uvicorn
python-multipart
opencv-python-headless
ultralytics
python-dotenv
numpy
websockets
watchfiles
python-dotenv
passlib[bcrypt]
bcrypt==3.2.0
python-jose[cryptography]
motor
httpx
dnspython
certifi
